<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1 Tutorial: Welcome to EBT Connect!</string>
		<key>url</key>
		<string>https://vimeo.com/123807523</string>
	</dict>
  <dict>
		<key>name</key>
		<string>2 Tutorial: Website Tour</string>
		<key>url</key>
		<string>https://vimeo.com/123688284</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3 Tutorial: EBT Connect Telephone System</string>
		<key>url</key>
		<string>https://vimeo.com/123688157</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4 Tutorial: How to Use EBT Connect</string>
		<key>url</key>
		<string>https://vimeo.com/123688286</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 A Great Start: The 3 Truths - Truth 1</string>
		<key>url</key>
		<string>https://vimeo.com/123688287</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6 A Great Start: The 3 Truths - Truth 2</string>
		<key>url</key>
		<string>https://vimeo.com/123689020</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7 A Great Start: The 3 Truths - Truth 3</string>
		<key>url</key>
		<string>https://vimeo.com/123688291</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8 A Great Start: The 3 Truths Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123689023</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9 A Great Start: The EBT Brain Map - Core Circuits</string>
		<key>url</key>
		<string>https://vimeo.com/123689027</string>
	</dict>
	<dict>
		<key>name</key>
		<string>10 A Great Start: EBT Brain Map - Survival Circuits</string>
		<key>url</key>
		<string>https://vimeo.com/123689369</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11 A Great Start: The EBT Brain Map - Set Point</string>
		<key>url</key>
		<string>https://vimeo.com/123689372</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12 A Great Start: EBT Brain Map - Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123689374</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13 A Great Start: It&apos;s Just a Wire! - The 4 Strategies</string>
		<key>url</key>
		<string>https://vimeo.com/123689375</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14 A Great Start: It&apos;s Just a Wire! - Erasing the Circuit</string>
		<key>url</key>
		<string>https://vimeo.com/123689376</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15 A Great Start: The Reward You Want Most</string>
		<key>url</key>
		<string>https://vimeo.com/123689880</string>
	</dict>
	<dict>
		<key>name</key>
		<string>16 A Great Start: The 3 Truths Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123689882</string>
	</dict>
	<dict>
		<key>name</key>
		<string>17 Chapter 1: Emotional Housekeeping Tool</string>
		<key>url</key>
		<string>https://vimeo.com/123689885</string>
	</dict>
	<dict>
		<key>name</key>
		<string>18 Chapter 1: Emotional Housekeeping Tool Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123689886</string>
	</dict>
	<dict>
		<key>name</key>
		<string>19 Chapter 1: Community Connections</string>
		<key>url</key>
		<string>https://vimeo.com/123690744</string>
	</dict>
	<dict>
		<key>name</key>
		<string>20 Chapter 1: Community Connection Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123690745</string>
	</dict>
	<dict>
		<key>name</key>
		<string>21 Chapter 1: The Reward of Sanctuary</string>
		<key>url</key>
		<string>https://vimeo.com/123690746</string>
	</dict>
	<dict>
		<key>name</key>
		<string>22 Chapter 1: Sanctuary Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123690747</string>
	</dict>
	<dict>
		<key>name</key>
		<string>23 Chapter 2: Unlock the Circuit</string>
		<key>url</key>
		<string>https://vimeo.com/123690749</string>
	</dict>
	<dict>
		<key>name</key>
		<string>24 Chapter 2: Unlock the Circuit Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123691283</string>
	</dict>
	<dict>
		<key>name</key>
		<string>25 Chapter 2: Connecting Messages</string>
		<key>url</key>
		<string>https://vimeo.com/123691285</string>
	</dict>
	<dict>
		<key>name</key>
		<string>26 Chapter 2: Connecting Message Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123691286</string>
	</dict>
	<dict>
		<key>name</key>
		<string>27 Chapter 2: The Reward of Authenticity</string>
		<key>url</key>
		<string>https://vimeo.com/123691287</string>
	</dict>
	<dict>
		<key>name</key>
		<string>28 Chapter 2: Authenticity Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123691288</string>
	</dict>
	<dict>
		<key>name</key>
		<string>29 3 Switch the Circuit Quick &amp; Easy Cycle</string>
		<key>url</key>
		<string>https://vimeo.com/123779028</string>
	</dict>
	<dict>
		<key>name</key>
		<string>30 3 Quick &amp; Easy Cycle Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123780572</string>
	</dict>
	<dict>
		<key>name</key>
		<string>31 3 Quick Connections</string>
		<key>url</key>
		<string>https://vimeo.com/123789294</string>
	</dict>
	<dict>
		<key>name</key>
		<string>32 Chapter 3: The Reward of Vibrancy</string>
		<key>url</key>
		<string>https://vimeo.com/123715406</string>
	</dict>
	<dict>
		<key>name</key>
		<string>33 Chapter 3: Vibrancy Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123692842</string>
	</dict>
	<dict>
		<key>name</key>
		<string>34 Chapter 4: Lock In the Survival Circuit</string>
		<key>url</key>
		<string>https://vimeo.com/123696292</string>
	</dict>
	<dict>
		<key>name</key>
		<string>35 Chapter 4: Survival Circuit Spiral Up Grind in</string>
		<key>url</key>
		<string>https://vimeo.com/123696293</string>
	</dict>
	<dict>
		<key>name</key>
		<string>36 Chapter 4: Survival Circuit Spiral Up Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123696295</string>
	</dict>
	<dict>
		<key>name</key>
		<string>37 Chapter 4: A Loving Presence</string>
		<key>url</key>
		<string>https://vimeo.com/123696296</string>
	</dict>
	<dict>
		<key>name</key>
		<string>38 Chapter 4: The Reward of Integrity</string>
		<key>url</key>
		<string>https://vimeo.com/123696299</string>
	</dict>
	<dict>
		<key>name</key>
		<string>39 Chapter 4: Integrity Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123696950</string>
	</dict>
	<dict>
		<key>name</key>
		<string>40 Chapter 5: Strengthen the Core</string>
		<key>url</key>
		<string>https://vimeo.com/123696951</string>
	</dict>
	<dict>
		<key>name</key>
		<string>41 Chapter 5: Strengthen the Core Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123696953</string>
	</dict>
	<dict>
		<key>name</key>
		<string>42 Chapter 5: The Connect Tool</string>
		<key>url</key>
		<string>https://vimeo.com/123696956</string>
	</dict>
	<dict>
		<key>name</key>
		<string>43 Chapter 5: The Reward of Intimacy</string>
		<key>url</key>
		<string>https://vimeo.com/123696959</string>
	</dict>
	<dict>
		<key>name</key>
		<string>44 Chapter 5: Intimacy Grind In Demo</string>
		<key>url</key>
		<string>https://vimeo.com/123697892</string>
	</dict>
    <dict>
    <key>name</key>
    <string>45 Chapter 6: The EBT 5-Point System - Stay Connected</string>
    <key>url</key>
    <string>https://vimeo.com/123697893</string>
  </dict>
    <dict>
    <key>name</key>
    <string>46 Chapter 6: The EBT Sandwich</string>
    <key>url</key>
    <string>https://vimeo.com/123697895</string>
  </dict>
    <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>47 Chapter 6: The Reward of Spiritualty</string>
    <key>url</key>
    <string>https://vimeo.com/123697896</string>
  </dict>
      <dict>
    <key>name</key>
    <string>48 Chapter 6: Spirituality Grind In Demo</string>
    <key>url</key>
    <string>https://vimeo.com/123697897</string>
  </dict>
      <dict>
    <key>name</key>
    <string>49 Chapter 8: The EBT 5-Point System - Spiral Up</string>
    <key>url</key>
    <string>https://vimeo.com/123698149</string>
  </dict>
      <dict>
    <key>name</key>
    <string>50 Chapter 8: Expressing Gratitude</string>
    <key>url</key>
    <string>https://vimeo.com/123698248</string>
  </dict>
      <dict>
    <key>name</key>
    <string>51 Chapter 8: The Reward of Freedom</string>
    <key>url</key>
    <string>https://vimeo.com/123698249</string>
  </dict>
  <dict>
    <key>name</key>
    <string>52 Chapter 8: Freedom Grind In Demo</string>
    <key>url</key>
    <string>https://vimeo.com/123698250</string>
  </dict>
  <dict>
    <key>name</key>
    <string>53 The Next Step: Summary</string>
    <key>url</key>
    <string>https://vimeo.com/123698251</string>
  </dict>
  <dict>
    <key>name</key>
    <string>54 The Next Step: Demo</string>
    <key>url</key>
    <string>https://vimeo.com/123698254</string>
  </dict>
</array>
</plist>
